@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
  }
.navbar-brand h2 { 
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 2em;
   
    text-shadow: 1px 1px 1px #222;
    margin-top: -5px;
    margin-bottom: 0;
    line-height: .75
  }
  #header-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  background-color: grey;
  border-radius: 0;
  border: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
/* Navbar pencere */
 
#nav-list {
  margin-top: 10px;
  }
  #nav-list a {
    color: black;
    text-align: center;
    font-size: 16px;
  }
  #nav-list a:hover {
    color: white;
    background: black;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid black;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  #main-content {
    background-color: grey;
    
  }
  #main-content h2 {
    color: black;
    font-weight: bold;
  }
  #main-content p{
    background-color: grey;
    color: rgba(255, 255, 255, 0.829);
    font-size: 20px;
  }
  #ch1 {
    margin-bottom: 40px;
    font-weight: bold;
  }

  @media (min-width: 768px) 
  {
    #nav-list a {
        display: none;
      }
    #pencere {
        display: none;
    }
  }